MODEL_BASE_PATH=/Users/gandisuastika/Study/TEL-U/ACADEMIC/Semester-6/UNI-PROJECT/GAB - TUBES PCD, APB, MTPP/dev/pcd_ai model/models
MODEL_VARIETY_PATH=model_variety_best.h5
MODEL_RIPENESS_PATH=model_ripeness_finetuned.h5
MODEL_FRESHNESS_PATH=model_freshness_best.h5
CLASS_INDICES_VARIETY=class_indices_variety.json
CLASS_INDICES_RIPENESS=class_indices_ripeness.json
CLASS_INDICES_FRESHNESS=class_indices_freshness.json
HOST=0.0.0.0
PORT=8000
IMAGE_SIZE=224
