# Path menuju folder models (relatif terhadap direktori ai-engine/)
# Models berasal dari folder ai-training/
MODEL_BASE_PATH=../ai-training/models
MODEL_VARIETY_PATH=model_variety_best.h5
MODEL_RIPENESS_PATH=model_ripeness_finetuned.h5
MODEL_FRESHNESS_PATH=model_freshness_best.h5
CLASS_INDICES_VARIETY=class_indices_variety.json
CLASS_INDICES_RIPENESS=class_indices_ripeness.json
CLASS_INDICES_FRESHNESS=class_indices_freshness.json
HOST=0.0.0.0
PORT=8000
IMAGE_SIZE=224
